<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" value="business" #segment (ionChange)="categoryChange($event)">

    <ion-segment-button *ngFor="let category of categories" mode="md" [value]="category">
      <ion-label class="ion-text-capitalize"> {{ category }} </ion-label>
    </ion-segment-button>

    

  </ion-segment>
</ion-header>

<ion-content>

  <app-news [news]="news"></app-news>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Refreshing...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
